.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;

  /* Add transition properties for smooth sliding */
  transition: transform 0.5s ease;
  transform: translateX(0); /* Initial position */
}

.active-slide {
  transform: translateX(0); /* Keep active slide in place */
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
  z-index: 1; /* Ensure arrows appear above images */
  transition: transform 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.2); /* Increase size on hover */
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

/* Additional styles for previous and next slides */
.prev-slide {
  transform: translateX(-100%); /* Slide to the left */
}

.next-slide {
  transform: translateX(100%); /* Slide to the right */
}
