.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-wrapper {
  background-color: #ffffff;
  height: 1117px;
  width: 1728px;
}

.home-page .overlap {
  height: 1153px;
  position: relative;
  top: -36px;
}

.home-page .rectangle {
  background-color: #000000;
  height: 150px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 1728px;
}

.home-page .text-wrapper {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 54px;
  left: 495px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 244px;
}

.home-page .div {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 54px;
  left: 989px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 244px;
}

.home-page .whietprofile {
  height: 50px;
  left: 1632px;
  object-fit: cover;
  position: absolute;
  top: 108px;
  width: 50px;
}

.home-page .ellipse {
  background-color: #000000;
  border-radius: 125px;
  height: 250px;
  left: 739px;
  position: absolute;
  top: 0;
  width: 250px;
}

.home-page .warhorse-gear-logo-c {
  height: 309px;
  left: 664px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 400px;
}

.home-page .bag-instance {
  left: 1557px !important;
  position: absolute !important;
  top: 108px !important;
}

.home-page .frame {
  height: 977px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 176px;
  width: 1728px;
}

.home-page .overlap-group {
  background-color: #000000;
  height: 4468px;
  position: relative;
  width: 1728px;
}

.home-page .home-carousel-instance {
  background-image: url(./soccer-mat-mockup-d-2-2.png) !important;
  left: 0 !important;
  position: absolute !important;
  top: 91px !important;
}

.home-page .design-component-instance-node {
  left: 5498px !important;
  top: 0 !important;
}

.home-page .home-carousel-2 {
  left: 3654px !important;
  top: 0 !important;
}

.home-page .home-carousel-3 {
  left: 1810px !important;
  top: 0 !important;
}

.home-page .text-wrapper-2 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 148px;
  left: 506px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1024px;
  width: 716px;
}

.home-page .soccer-mat-mockup-d-7 {
  height: 231px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 1173px;
  width: 500px;
}

.home-page .soccer-mat-mockup-d-8 {
  height: 231px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 1173px;
  width: 500px;
}

.home-page .soccer-mat-mockup-d-9 {
  height: 231px;
  left: 1160px;
  object-fit: cover;
  position: absolute;
  top: 1173px;
  width: 500px;
}

.home-page .text-wrapper-3 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1417px;
  width: 293px;
}

.home-page .text-wrapper-4 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1464px;
  width: 293px;
}

.home-page .star {
  height: 50px;
  left: 68px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-2 {
  height: 50px;
  left: 118px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-3 {
  height: 50px;
  left: 168px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-4 {
  height: 50px;
  left: 218px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-5 {
  height: 50px;
  left: 268px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .div-wrapper {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 99px;
  left: 68px;
  position: absolute;
  top: 1576px;
  width: 476px;
}

.home-page .text-wrapper-5 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 99px;
  left: 0;
  letter-spacing: 3.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 476px;
}

.home-page .text-wrapper-6 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 614px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1417px;
  width: 293px;
}

.home-page .text-wrapper-7 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 614px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1464px;
  width: 293px;
}

.home-page .star-6 {
  height: 50px;
  left: 614px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-7 {
  height: 50px;
  left: 664px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-8 {
  height: 50px;
  left: 714px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-9 {
  height: 50px;
  left: 764px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-10 {
  height: 50px;
  left: 814px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .frame-2 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 99px;
  left: 614px;
  position: absolute;
  top: 1576px;
  width: 476px;
}

.home-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 1160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1417px;
  width: 293px;
}

.home-page .text-wrapper-9 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 47px;
  left: 1160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1464px;
  width: 293px;
}

.home-page .star-11 {
  height: 50px;
  left: 1160px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-12 {
  height: 50px;
  left: 1210px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-13 {
  height: 50px;
  left: 1260px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-14 {
  height: 50px;
  left: 1310px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .star-15 {
  height: 50px;
  left: 1360px;
  position: absolute;
  top: 1512px;
  width: 50px;
}

.home-page .frame-3 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 99px;
  left: 1160px;
  position: absolute;
  top: 1576px;
  width: 476px;
}
